export("Bchroncalibrate","Bchroncheck","Bchronconvergecheck","Bchroncreatecalcurve","Bchronload","BchronMCMC","Bchronmenu","Bchronplot","Bchronplotevent","Bchronpredict","Bchronpredictevent","Bchronproxyplot")

useDynLib(Bchron)
