useDynLib(Bchron)

import(coda, hdrcde)

export("Bchroncalibrate","Bchronloaddata","Bchronmenu","Bchronpredict","Bchronpredictevent","Bchronplotter","Bchronplotterdatesonly","BchronreadEPD","Bchronplotevent","BchronMCMC","newgraphwindow","hdr2.den","Bchronquickload","Bchronchangecalcurve","Bchroncheck","Bchronplotdens","Bchronconvergecheck")



